@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fira Code', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

.bg{
    background: no-repeat center/80% url('https://cdn.pixabay.com/photo/2023/08/15/09/21/camera-8191564_1280.jpg');
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw+60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px)
}

.loading-text {
    font-size: 55px;
    color:#fff;
}