/*rows and columns*/
.wrapper{
    /*height and width to set statically NOT RECOMENDED*/
    width: 600px;
    height: 600px;
    
    display: grid; /*YEAHHHHH!!!*/
    gap: 30px 20px; /*Horizontally and Vertically*/
    /*How big: */
    grid-template-columns: 124px 376px 42px; 
    grid-template-rows: 170px 210px 61px 61px;
    background-color: black;
}

div{
    border: 1px solid black;
    background-color: white;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.a{
    grid-row: 1/2;
    grid-column: 1/2;
}

.b{
    grid-row: 2/3;
    grid-column: 1/2;
}

.c{
    grid-row: 1/3;
    grid-column: 2/4;
    background-color: #de271d;
}

.d{
    grid-row: 3/5;
    grid-column: 1/2;
    background-color: #015ca0;
}

.e{
    grid-row: 3/5;
    grid-column: 2/3;
}
.f{
    grid-row: 3/4;
    grid-column: 3/4;
}
.g{
    grid-row: 4/5;
    grid-column: 3/4;
    background-color: #ecdb6b;
}